@import url(https://fonts.bunny.net/css?family=carter-one:400);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-carter-one: "Carter One", sans-serif;
}

/* Circular View Transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
  clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
  animation: circular-reveal 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes circular-reveal {
  from {
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
  }

  to {
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
  }
}


/* Theme variables for Scrollbar */
:root {
  --scrollbar-track: #f4f4f6;
  --scrollbar-thumb: #cbd5e1;
  --scrollbar-thumb-hover: #94a3b8;
}

.dark {
  --scrollbar-track: #0b0a0f;
  --scrollbar-thumb: #31257c;
  --scrollbar-thumb-hover: #5841d8;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 9999px;
  border: 2px solid var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Support Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}